*{
    box-sizing: border-box;
    margin: 0;
    color:white;
    background-color: #383838;
}
html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}  
.parentcont{
    display: flex;
    height: 100vh;    
    width: 100%;
}
.menu{
    flex:1;
    flex-basis: 20%;
    border-right: 1px solid rgb(101, 101, 101);
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.menuhead{
    font-size: 25px;
    flex:1;
    flex-basis: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    color:rgb(174, 174, 174);
}
.menuhead > i{
    color:rgb(174, 174, 174);
    margin-right: 5px;
}
.menufoot{
    flex:1;
    flex-basis: 90%;
}
/* .menufoot > div{
    text-decoration: underline;
    color: rgb(195, 195, 195);
    text-align: center;
    font-size: 14px;
} */
.container{
    flex:1;
    flex-basis: 80%;
    padding: 0;
}
.enterroom{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 30%;
    height: 100%;
    text-align: center;
}
.enterroom > form > button{
    margin-top: 15px;
    margin-bottom: 90px;
    background-color: rgb(119, 119, 119);
}
.enterroom > form > button:hover {
    background-color: rgb(136, 136, 136);
}
.enterroom > form > input{
    border: 1px solid gray;
    background-color: rgb(63, 63, 63);
    outline: none;
    box-shadow: none;
    border-radius: 10px;
    padding: 10px;
}
.enterroom > form > button > i {
    background-color: rgb(119, 119, 119);
    margin-right: 5px;
}
.room{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.head{
    flex: 1;
    flex-basis: 10%;
    border-bottom: 1px solid rgb(101, 101, 101);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head > div{
    color:rgb(174, 174, 174);
    font-size: 30px;
    margin-left: 15px;
}
.head > span{
    text-decoration: underline;
    color: rgb(195, 195, 195);
    text-align: center;
    font-size: 14px;
    margin-right: 10px;
}
.bi-box-arrow-right:hover {
    color: rgb(220, 220, 220);
    cursor: pointer;
}
.head > div > i{
    color:rgb(174, 174, 174);
    margin-right: 5px;
}


.message{
    flex: 1;
    flex-basis: 65%;
    overflow: scroll;
    overflow-x:hidden;
}
.msgbox{
    font-size: 13px;
    margin:10px 0 2px 5px;
    border: 1px solid rgb(92, 92, 92);
    width: 500px;
    padding:10px 0 10px 10px;
    border-radius: 10px;
    word-wrap: break-word;
    box-shadow: 1px 1px 15px rgb(34, 34, 34);
}
.sendername{
    font-weight: bolder;
    color:rgb(223, 223, 223);
    text-transform: uppercase;
}
.sendername > i{
    font-size: 15px;
    margin-right: 10px;
}
.msgdata{
    color:rgb(197, 197, 197);
    margin-top: 10px;
}
.msgdata > .quill > .ql-toolbar{
    display: none;
}

.input{
    flex: 1;
    flex-basis: 25%;
    border-top: 1px solid rgb(101, 101, 101);
}
.inpbox{
    height: 85%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(34,37,41);
}
.inmsg{
    background-color: rgb(34,37,41);
    display: flex;
    flex-direction: column;
    flex-basis: 85%;
}
.inmsg > div{
    background-color: rgb(34,37,41);
    outline: none;
    color:rgb(203, 203, 203);
    overflow:hidden;
}
.ql-toolbar,.ql-toolbar * , .ql-editor , .ql-editor *{
    background-color: rgb(34,37,41);
    border: none;
    outline: none;
}
.ql-toolbar.ql-snow{
    border: none;
}
.ql-container.ql-snow{
    border: none;
}
.ql-toolbar .ql-picker-options span {
    color: red; /* Replace with your desired color */
  }
.insend{
    background-color: rgb(34,37,41);
    flex:1;
    flex-basis: 15%;
    display: flex;
    flex-direction: row-reverse;
}
.insend > button{
    background-color: rgb(0,122,90);
    outline: none;
    box-shadow: none;
    width: 50px;
    font-size: small;
}
.insend > button > i{
    background-color: rgb(0,122,90);
}